<div style="margin: auto;width: 50%;
    		padding: 10px;">

<header style=" padding: 1em;
			    color: white;
    			background-color: blue;
    			clear: left;
    			text-align: center;"> This is our <%= @entry.id %> entry with <%= @entry.likes %> Likes!
</header>   

<div>
	<div style="margin: auto;width: 50%; float:left;">
		<h1>Title: <%= @entry.title %></h1>
		<h4>Author: <%= @entry.autor %></h4>

		<h3> <%= @entry.content %></h3>
	</div>
	<div style="margin: auto;width: 50%;float: right;">
		<h3> tags:</h1>
			<ul>
				<% @tags.each do |tag| %>
					<li><h3> <a href="/entries/tags/<%= tag.id %>"><%= tag.content %> </a> </h3> </li>
				<% end %>					
			</ul>		
			<a href="/entries/<%=@entry.id%>/tags/remove/" style="color:red;">remove tag.</a>
	</div>
</div>
<div> <a href="/entries/<%=@entry.id%>/edit">Edit post.</a><br><br>
<div> <a href="/entries/<%=@entry.id%>/delete">Delete post.</a><br><br>
	  <a href="/entries">Back.</a>
 </div>
    			

</div>